---

permalink:
    weekly: /data/
---
{% include 'head.html' %}

    <h1>Getting data for the {{ eleventy.serverless.query.time }} ending on {{ eleventy.serverless.query.end }}</h1>

    {% if eleventy.serverless.query.time == "month" %}
        {% reportMonthly eleventy.serverless.query.end %}
    {% else %}
        {% reportWeekly eleventy.serverless.query.end %}
    {% endif %}





</body>
</html>